EC2-poject-suite/JPS_web/Connected Services/BNS_ServiceReference/BNS_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="cardNumber" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="billID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPaymentResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:getPayment" />
  </wsdl:message>
  <wsdl:message name="getPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:getPaymentResponse" />
  </wsdl:message>
  <wsdl:portType name="BNS_ServiceSoap">
    <wsdl:operation name="getPayment">
      <wsdl:input message="tns:getPaymentSoapIn" />
      <wsdl:output message="tns:getPaymentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BNS_ServiceSoap" type="tns:BNS_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPayment">
      <soap:operation soapAction="http://tempuri.org/getPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BNS_ServiceSoap12" type="tns:BNS_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPayment">
      <soap12:operation soapAction="http://tempuri.org/getPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BNS_Service">
    <wsdl:port name="BNS_ServiceSoap" binding="tns:BNS_ServiceSoap">
      <soap:address location="http://localhost:60183/WebService/BNS_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="BNS_ServiceSoap12" binding="tns:BNS_ServiceSoap12">
      <soap12:address location="http://localhost:60183/WebService/BNS_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>